<link rel="stylesheet" href="/css/footer.css">
<footer class="footer">
    <div class="footer-content">
        <!-- Social Media Icons -->
        <div class="footer-socials">
            <a href="#" class="social-icon"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-instagram"></i></a>
            <a href="#" class="social-icon"><i class="fa-brands fa-square-twitter"></i></a>
        </div>

        <!-- Company Information -->
        <div class="footer-info">
            <p>© 2024 Wanderlust Private Limited</p>
        </div>

        <!-- Footer Links -->
        <div class="footer-links">
            <a href="/privacy" class="footer-link">Privacy</a>
            <a href="/terms" class="footer-link">Terms</a>
        </div>
    </div>
</footer>