<% layout('layouts/boilerplate') %>
<body>
    <h1>All Listings</h1>
    <ul>
        <% for (let listing of allListing) { %>
            <li><a href="/listing/<%= listing._id %>"><%= listing.title %></a></li>
        <% } %>
    </ul>
    <a href="/listing/new">
        <button class="btn btn-primary">Add New</button>
    </a>
</body>

