<% layout('layouts/boilerplate') %>

    <link rel="stylesheet" href="/css/new.css">

    <body>
        <div class="row mt-4 mb-3">
            <div class="col-md-8 offset-md-2 col-10 offset-1">
                <h1 class="mb-3">Add a New Listing</h1>
                <form action="/listing" method="POST" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" placeholder="enter a catchy title" name="title"
                            id="title" required>
                        <div class="invalid-feedback">
                            Please enter a catchy title.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" rows="3" name="description"
                            placeholder="enter description" required></textarea>

                        <div class="invalid-feedback">
                            Please enter your description.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="title" class="form-label">Image URL link</label>
                        <input type="text" class="form-control" placeholder="enter image url" name="url">
                        
                        <div class="invalid-feedback">
                            Please enter your img url.
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="text" class="form-control" placeholder="enter price" name="price" id="price"
                                required>
                            
                            <div class="invalid-feedback">
                                Please enter a price.
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" placeholder="enter country" name="country" required>
                            
                            <div class="invalid-feedback">
                                Please enter a country name.
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" placeholder="enter location" name="location" required>
                        
                        <div class="invalid-feedback">
                            Please enter your location.
                        </div>
                    </div>

                    <button class="btn btn-danger btn-1">
                        <i class="fa-solid fa-circle-plus"></i>
                        Add
                    </button>
                </form>
                <br>
                <a href="/listing">
                    <button class="btn btn-danger btn-2">
                        <i class="fa-solid fa-xmark"></i>
                        Cancle
                    </button>
                </a>
            </div>
        </div>
    </body>