.navbar {
    padding: 1rem;
    background-color: white;
}

.fa-compass {
    font-size: 2rem;
    color: #ff2f56;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ff2f56;
}

.nav-link {
    color: #222222 !important;
}

.d-flex {
    height: 2rem;
}

.d-flex input {
    border-radius: 25px;
    padding: 0 3rem 0 3rem;
    font-size: 0.8rem;
}

.d-flex button {
    height: 2rem;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    transition: 0.3s;
}

.d-flex button:hover {
    transform: scale(1.02);
    transition: 0.3s;
    color: #fff;
}

.d-flex button i {
    display: inline;
    margin-right: 0.5rem;
}